@model AmeenTraning.Models.Customer_Details

@{
    ViewBag.Title = "Create";
}

<section>
    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title">Customers</h5>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal border p-5">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-outline">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control mb-4", id = "Name" } })
                    <label class="form-label" for="Name">Name</label>
                </div>
                <div class="form-outline">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control mb-4", id = "Email" } })
                    <label class="form-label" for="Email">Email</label>
                </div>
                <div class="form-outline">
                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control mb-4", id = "Mobile" } })
                    <label class="form-label" for="Mobile">Mobile</label>
                </div>
                <div class="form-outline">
                    @Html.EditorFor(model => model.Mobile1, new { htmlAttributes = new { @class = "form-control mb-4", id = "Mobile1" } })
                    <label class="form-label" for="Mobile1">Mobile 1</label>
                </div>
                <div class="form-outline">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control mb-4", id = "Address" } })
                    <label class="form-label" for="Address">Address</label>
                </div>
                <div class="form-outline">
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control mb-4", id = "City" } })
                    <label class="form-label" for="City">City</label>
                </div>
                <div class="form-outline">
                    @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control mb-4", id = "State" } })
                    <label class="form-label" for="State">State</label>
                </div>
                
                <div class="form-outline">
                    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control mb-4", id = "Country" } })
                    <label class="form-label" for="Country">Country</label>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-success" />
                        <a href="/Inventory/Customer_Details" class="btn btn-warning">Back to List</a>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>