@model AmeenTraning.Models.Customer_Details

@{
    ViewBag.Title = "Details";
}

<section>
    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title">Customer</h5>
            <div class="d-flex border p-5">
                <div class="col-md-1">
                    <span class="img-circle bg-info text-center text-white" style="font-size:24px;border-radius:100%;padding:10px 20px;">
                        @Model.Name[0]
                    </span>
                </div>
                <div class="col-md-3">
                    <h4> @Model.Name</h4>
                    <small> @Model.Mobile</small><br />
                    <small> @Model.Mobile1</small><br />
                    <small> @Model.Email</small>
                </div>
                <div class="col-md-3">
                    <small> @Model.Address</small>
                    <br />
                    <small> @Model.City</small>
                    <br />
                    <small> @Model.State</small>
                    <br />
                    <small> @Model.Country</small>
                </div>
                <div class="col-md-5">

                    <b> Added </b>@Model.Created_By<br />
                    @Model.Date_Created
                    @if (Model.Modified_By != null)
                    {<b> Added </b>@Model.Modified_By<br />
                    @Model.Date_Modified
                }
                    <br />
                    <br />
                    <a href="/Inventory/Customer_Details/Edit/@Model.Customer_Id" class="btn btn-warning">Edit</a>
                    <a href="/Inventory/Customer_Details/Delete/@Model.Customer_Id" class="btn btn-danger">Delete</a>                    <br /><br />
                    <a href="/Inventory/Customer_Details" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div></div></section>