

@{
    ViewBag.Title = "Index";
   
}

<section>
    <div class="card mt-2">
        <div class="card-body">
            <h5 class="card-title">Customers</h5>

            <div class="formtabl">
                @Html.Action("IndexPartial", "Products_Details", new { area = "Inventory" })
            </div>
            <section class="btns d-none">
                <button class="btnSubmit btn btn-primary">Save</button>
                <button class="btnCancel btn btn-danger">Cancel</button>
                <label class="text-danger"></label>
            </section>
        </div>
        </div>
</section>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    var Id = 0;
    $(document).on('click', '.btnadd', function () {
        $.get('/Inventory/Products_Details/CreatePartial', function (response) {
            $('.btns').removeClass('d-none');
            $('.formtabl').empty();
            $('.formtabl').append(response);
        });
    });
    $(document).on('click', '.btnSubmit', function () {

        var category = $('select[name="ddlCategory"]').val();
        var name = $('input[name="Name"]').val();
        var Description = $('input[name="Description"]').val();

        $('label.text-danger').empty();
        if (name == "") {
            $('label.text-danger').append('Please Enter Your Name');
            return false;
        }
        if (Description == "") {
            $('label.text-danger').append('Please Enter Description');
            return false;
        }
        $.post('/Inventory/Products_Details/Add', { category, name, Description, Id },
            function (data, status) {
                Swal.fire(
                    'Suceed!',
                    data,
                    'success'
                )
                LoadProjects();
                Id = 0;
                $('input[name="Name"]').val('');
                $('input[name="Description"]').val('');
                $('#basicExampleModal').modal('toggle');
            });

    });
    $(document).on('click', '.btnEdit', function () {
        debugger
        var id = $(this).attr('Id');
        Id = id;
        $.get('/Inventory/Products_Details/CreatePartial?id=' + id, function (response) {
            $('.btns').removeClass('d-none');
            $('.formtabl').empty();
            $('.formtabl').append(response);
        });
    })
    $(document).on('click', '.btnCancel', function () {
        $.get('/Inventory/Products_Details/IndexPartial', function (response) {
            $('.formtabl').empty();
            $('.formtabl').append(response);
            $('.btns').addClass('d-none');
            Id = 0;
        });
    })
    function LoadProjects() {
        $.get('/Inventory/Products_Details/IndexPartial', function (response) {
            $('.formtabl').empty();
            $('.formtabl').append(response);
        });
    }
    $(document).on('click', '.btndelete', function () {
        var id = $(this).attr('Id');
        Id = id;
        Swal.fire({
            title: 'Are you sure?',
            text: 'You will not be able to recover this Unit & related data will also!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.value) {
                $.get('/Inventory/Products_Details/Delete?id=' + id, function (response) {
                    LoadProjects();
                    Id = 0;
                })
            } else {
                Swal.fire(
                    'Cancelled',
                    'Unit is active :)',
                    'error'
                )
            }
        });
    });
</script>

































@*@foreach (var item in Model)
            {
                Sr++;
            <tr>
                <td class="text-center">@Sr</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category_Details.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created_By)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modified_By)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Modified)
                </td>

                @*<td>
        @Html.DisplayFor(modelItem => item.Company_Details.Name)
    </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Product_Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Product_Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Product_Id })
                </td>
                <td>
                    <a href="/Inventory/Products_Details/Edit?id=@item.Product_Id" class="btn btn-info">Edit</a> |
                    <a href="/Inventory/Products_Details/Delete?id=@item.Product_Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            }*@












@*<tr>
        <th>Sr</th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_By)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified_By)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category_Details.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company_Details.Name)
        </th>
        <th></th>
    </tr>*@