@model IEnumerable<AmeenTraning.Models.Units_Details>

@{

    int SR = 0;
}
    <table class="table">
        <thead>
            <tr>
                <th>SR</th>
                <th>
                    Name
                </th>
                <th>
                    Added by
                </th>
                <th>
                    Modified by
                </th>
                <th>
                    Date Created
                </th>
                <th>
                    Date Modified
                </th>
                <th>
                    <div>
                        <button type="button" class="btn btn-primary btnadd">
                            Add
                        </button>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                SR++;
                <tr>
                    <td>@SR</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created_By)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modified_By)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_Modified)
                    </td>
                    <td>

                        <button Id="@item.Unit_Id" class="btn btnEdit btn-warning">Edit</button>
                        <button Id="@item.Unit_Id" class="btn btndelete btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </tbody>

    </table>


