@model IEnumerable<AmeenTraning.Models.Sales_Bill>
@{
    var Sr = 0;
}
<table class="table">
    <thead>
        <tr>
            <th>SR</th>
            <th>
                Sales Bill No
            </th>
            <th>
                Customer Name
            </th>
            <th>
                Total Amount
            </th>
            <th>
                Quantity
            </th>
            <th>
                GST Amount
            </th>
            <th>
                Date Created
            </th>
            <th>
                Payment Mode
            </th>
            <th>
                <div>
                    <button type="button" class="btn btn-primary btnadd">
                        Add
                    </button>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            Sr++;
            <tr>
                <td>@Sr</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sales_Bill_No)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer_Details.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total_Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GST_Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment_Mode)
                </td>
                <td>
                    <button Id="@item.Sales_Bill_No" class="btn btnEdit btn-warning">Edit</button>
                    <button Id="@item.Sales_Bill_No" class="btn btndelete btn-danger">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

